/* Custom CSS for the search form */

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content at the top */
    align-items: center;
    text-align: center;
    padding-top: 30px;
    height: auto;
    /* Set height to auto */
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 36px;
    margin-bottom: 20px;
}

.search-form {
    text-align: center;
}

.search-input {
    width: 300px;
    padding: 10px;
    border: 1px solid #736f6f;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* About Us section styles */

.about-section {
    background-color: #ff9900;
    /* Orange background color */
    padding: 15px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    overflow: hidden;
}


/* Glowing effect on the sides */

.about-section::before,
.about-section::after {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    /* Adjust the width as needed */
    height: 100%;
    /* Full height */
    background: rgba(255, 153, 0, 0.5);
    /* Orange with transparency */
    animation: glowing 2s infinite;
}

.about-section::before {
    left: 0;
}

.about-section::after {
    right: 0;
}