<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>about</title>
</head>
<body>

    <div class="top_bar">

        <h2 class="heading">Price Comparison Tool - About page</h2>
        <a href="/">Home</a>
        
    </div>
    <div class="about">
    <h3>This is a page made by fouad its a tool that can help people choose wich site to buy things from because it lists pricings from 3 websites and let the user compare 
        <h3>Contact : foxdex29@gmail.com</h3>
    </h3></div>
</body>
</html>